body
{
    background-image: url("img/ez.jpg");
    color: white;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace, sans-serif;
}




/* Nieodwiedzony link */
a:link
{
  color: darkblue;
}
/* odwiedzony link */
a:visited
{
  color:darkblue;
}
/*  link po najechaniu kursorem */
a:hover
{
color: blue;
}

#container
{
  width:1000px;
  margin-left:auto ;
  margin-right: auto;
}
#logo
{
  background-color: white;
  margin-top:20px;
  font-size: 20px;
  letter-spacing: 2px;
  color:#1A4C69;
  text-align: center;
}

#menu
{
  background-color: #2055B2;
  margin-top:20px;
  padding: 10px;


} /* menu klasa */
.option
{;text-align: center;
  float:left;
  min-width: 50px;
  height: 25px;
  font-size: 18px;
  padding: 10px;
  border-right:2px solid white; /*pierw wielkosc, potem typ obramowania, na koncu kolor */
  opacity: 0.88;

} /* po najechaniu na menu */
.option:hover
{
background-color: steelblue;
  cursor:pointer;
}

#top
{
  background-color: #2055B2;

  padding: 10px;
  margin-top:20px;
  margin-bottom: 25px;
  height: 170px;

}
#left-top
{
  float: left;
  padding: 20px;
  width: 140px;
  text-align: center;
}

#right-top
{
  float:left;
  padding: 20px;
  width:740px;
  font-size: 16px;
  text-align: justify;
  margin-left: 20px;
}

#side
{float:left;
width:141px;
  min-height: 620px;
  padding: 20px;
  background-color:  #2055B2;
  text-align: center;
  font-size: 18px;
  border-right: 9px dotted white;
}

.optionL
{;

  height: 25px;
  font-size: 18px;
  padding: 10px;
  border-bottom:3px dotted white; /*pierw wielkosc, potem typ obramowania, na koncu kolor */
  opacity: 0.88;
  text-align: center;

} /* po najechaniu na menu */
.optionL:hover
{
  background-color: steelblue;
  color:white;
  cursor:pointer;
}

#content
{
  float:left;
  padding: 40px;
  width: 730px;
  background-color:  #4884A6;
  min-height: 580px;
  text-align: justify;
  font-size: 30px;
}

.dottedline
{
  height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px dotted white;
}
/* zwieksozny poczatek zdania*/
.bigtitle
{
font-size:20px;
  font-weight: 700;
  letter-spacing: 1px;
}

#footer
{
clear: both;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #cccccc;
  color:#1A4C69;
}
