html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    width: auto;
    padding: 2em 2em 4em;
}
        
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
  text-align: center;
  margin-top: 10px;
}
.menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
}
.menu ul li {
  background: #FFFFFF;
  float: left;
  border-right: 1px solid #EEEEEE;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #545454;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s linear;
}
.menu ul li:first-child {
  border-radius: 7px 0 0 7px;
}
.menu ul li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}
.menu ul li:hover {
  background: #EEEEEE;
  color: #FF6B01;
}
.menu ul li a {
  display: block;
  padding: 15px 35px;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
}
#logowanie {
    width: 400px;
    margin: 0 auto;
    padding: 15px 0 0;
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}

form {
    margin: 0;
}

label {
    display: block;
    width: 260px;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}
#username, #password {
display: block;
width: 360px; 
margin: 0 auto;
padding: 10px 5px;
border: 1px solid silver;
outline: 5px solid #ebebeb;
font-size: 22px;
}

#username:focus, #password:focus {
outline: 5px solid #e5f2f8;
}

#lower {
    background: #ecf2f5;
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
}
.check {
    display: inline;
    float: none;
    font-size: 11px;
    padding: 5px;
}

input[type="submit"] {
    width: 70px;
    padding: 5px 13px;
    border: 1px solid #005f85;
    color: white;
    text-shadow: 0 0 1px black;
    background: #98c9dc;
    position: relative;
    left: 180px;
}

#panel, input[type="submit"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#slider {
    width: auto;
    height: 400px;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #FE7F00;
}



footer {
    background-color: #808080;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
}
.pierwsza
{
    float:left;
    margin-left:2.5%;
    font: 16px calibri;
    text-align: center;
    font-weight: bold;
    padding: 10px;

}
.pierwsza img{
    width: 150px;
    height: 200px;

}


/* Nieodwiedzony link */
a:link
{
    color: #cec9c9;
    text-decoration: none;
}
/* odwiedzony link */
a:visited
{
    color: #494949;


}
/*  link po najechaniu kursorem */
a:hover
{text-decoration: none;
    color: dimgrey;
}