body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: min-content;
    background-image: 
        linear-gradient(to bottom, rgba(170, 207, 208, 0.6), rgba(246, 239, 195, 0.6)), 
        url("../img/background.png");
    background-repeat: repeat;
    background-size: 500px;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
    margin-top: 10px;
}

.menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-25deg);
}

.menu ul li {
    background: #FFFFFF;
    float: left;
    border-right: 1px solid #EEEEEE;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #545454;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s linear;
}

.menu ul li:first-child {
    border-radius: 7px 0 0 7px;
}

.menu ul li:last-child {
    border-right: none;
    border-radius: 0 7px 7px 0;
}

.menu ul li:hover {
    background: #EEEEEE;
    color: #FF6B01;
}

.menu ul li a {
    display: block;
    padding: 15px 35px;
    color: inherit;
    text-decoration: none;
    transform: skew(25deg);
}

/* STOPKA */

footer {
    width: auto;
    height: 325px;
    background-image: linear-gradient(45deg, #5d5d5d, #323130);
    text-align: center;
    margin-top: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main {
    min-height: calc(100% - 100px);
}

a {
    color: inherit;
}

.nav {
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    flex-direction: column;
}

.nav:hover {
    pointer-events: auto;
}

.sm-header {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    justify-content: center;
}

.line {
    width: 0.5rem;
    height: 1rem;
    background-color: #fff;
    margin-left: 2%;
    transform: scaleY(0.2);
    transform-origin: left;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
}

.nav:hover .line {
    transform: scaleY(1.25);
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin-inline: 2rem;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.nav-item:nth-child(odd) {
    transform: translateY(5rem);
}

.nav-item:nth-child(even) {
    transform: translateY(-5rem);
}

.nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.nav-link {
    font-size: 2rem;
}

.nav-link i {
    transition: color 0.5s;
}

.nav-link:hover i.fa-facebook-f {
    color: #3b5998;
}

.nav-link:hover i.fa-twitter {
    color: #1da1f2;
}

.nav-link:hover i.fa-instagram {
    color: #dd4b39;
}

.nav-link:hover i.fa-google {
    color: #ea4c89;
}

/* Administrator */

#main_administrator {
    height: 140px;
    text-align: center;
    margin-bottom: 8%;
}

#main_administrator h2 {
    text-align: center;
}

#main_uzytkownicy {
    height: 100%;
    text-align: center;
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#main_uzytkownicy h2 {
    text-align: center;
}

#tabela_uzytkownicy th,
#tabela_uzytkownicy td,
#tabela_uzytkownicy tr{
    width: 400vh;

}

#main_historia {
    height: 100%;
    width: 80%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#tabela_historia th,
#tabela_historia td,
#tabela_historia tr {
    width: 500px;
    border: 1px solid #000;
}

/* Responsywność dla mniejszych ekranów */
@media screen and (max-width: 768px) {
    .menu ul li {
        float: none;
        display: inline-block;
        transform: skew(0);
        border-radius: 0;
    }

    .menu ul li:first-child {
        border-radius: 0;
    }

    .menu ul li:last-child {
        border-radius: 0;
    }

    .sm-header {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .nav-list {
        flex-wrap: wrap;
    }

    .nav-item {
        margin: 1rem;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-link {
        font-size: 1.5rem;
    }
}
