html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: min-content;

    background-image: 
        linear-gradient(to bottom, rgba(170, 207, 208, 0.6), rgba(246, 239, 195, 0.6)), 
        url("../img/background.png");

   

    background-repeat: repeat;
    background-size: 500px;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: skew(-25deg);
}
.menu ul li {
    background: #FFFFFF;
    float: left;
    border-right: 1px solid #EEEEEE;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #545454;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s linear;
}
.menu ul li:first-child {
    border-radius: 7px 0 0 7px;
}
.menu ul li:last-child {
    border-right: none;
    border-radius: 0 7px 7px 0;
}
.menu ul li:hover {
    background: #EEEEEE;
    color: #FF6B01;
}
.menu ul li a {
    display: block;
    padding: 15px 35px;
    color: inherit;
    text-decoration: none;
    transform: skew(25deg);
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
}

/*Historia*/
#main_historia {
    height: 100%;
    text-align: center;
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#main_historia h2 {
    text-align: center;
}

#main_historia th, td, tr {
    width: 300px;
    border: 1px solid #000;
}
/*stopka*/
footer {
    width: auto;
    height: 325px;
    background-image: linear-gradient(45deg, #5d5d5d, #323130);
    text-align: center;
    margin-top: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main {
    min-height: calc(100% - 100px);
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    flex-direction: column;
}

.nav:hover {
    pointer-events: auto;
}

.sm-header {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    justify-content: center;
}

.line {
    width: 0.5rem;
    height: 1rem;
    background-color: #fff;
    margin-left: 2%;
    transform: scaleY(0.2);
    transform-origin: left;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
}

.nav:hover .line {
    transform: scaleY(1.25);
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin-inline: 2rem;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.nav-item:nth-child(odd) {
    transform: translateY(5rem);
}

.nav-item:nth-child(even) {
    transform: translateY(-5rem);
}

.nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.nav-link {
    font-size: 2rem;
}

.nav-link i {
    transition: color 0.5s;
}

.nav-link:hover i.fa-facebook-f {
    color: #3b5998;
}

.nav-link:hover i.fa-twitter {
    color: #1da1f2;
}

.nav-link:hover i.fa-instagram {
    color: #dd4b39;
}

.nav-link:hover i.fa-google {
    color: #ea4c89;
}
.pierwsza {/*  index strona glown */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pierwsza img {/*  index strona glown */
    width: 50px;
}
.pierwsza a { /*  index strona glown */
    display: flex;
    margin-top: 10px;
}

.books-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    position: relative;
    margin-bottom: 10px;
}

.books-container a {
    text-decoration: none;
}
.books-container .pierwsza {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    word-wrap: break-word;
    flex: 0 0 auto;
    width: 200px;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.books-container .pierwsza .book-description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 100px;

    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
}

.books-container .pierwsza p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    max-height: none;
    overflow: visible;
    white-space: normal;
}

.books-container .pierwsza img {
    width: 160px;
    height: 240px;
}

.rent-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF6B01;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
}
.rent-button:hover {
    background-color: #758ac9;
    color: white;
    opacity: 100%;
}
.menu ul li.special {
    background-color: #7a7a7a;
    color: white;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container {
    text-align: center;
    margin-bottom: 20px;
}
.druga { /*  KSIAZKI */
    text-align: center;
    width: calc(20% - 20px);
    margin: 10px;
}

.menu ul li.special {
    background-color: #7a7a7a;
    color: white;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container {
    text-align: center;
    margin-bottom: 20px;
}
.image-container_2 {
    margin-left: 20px;
    /* Pozostałe style */
}

.image-container_2 img {
    margin-bottom: 10px;
    flex: 0 0 auto;
}

.image-container_2 p {
    margin-left: 20px;
    text-align: justify;
}

.rent-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF6B01;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
}
.rent-button:hover {
    background-color: #758ac9;
    color: white;
    opacity: 100%;
}

.container_2 {     /*  KSIAZKI */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.trzecia {
    display: flex;
    align-items: flex-start;
}
.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    flex: 1;
}
.button {
    display: block;
    padding: 10px 20px;
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}
#lower {
    background: #ecf2f5;
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
}
#lower2 {
    background: #ecf2f5;
    width: 400px;
    margin-top: 20px;

}
#logowanie {
    width: 400px;
    margin: 0 auto;
    padding: 15px 0 0;
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;

}


